[buildout]
eggs-directory = eggs
extends = http://download.ztfy.org/pyams/pyams-dev-v2.cfg
socket-timeout = 3

versions = versions
allow-picked-versions = false
newest = false

src = src
develop =
    .

parts =
    package
    pylint

[package]
recipe = zc.recipe.egg
eggs = pyams_chat_ws

[pylint]
recipe = zc.recipe.egg
eggs =
    ${package:eggs}
    pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]

[versions]
pyams_chat_ws = 1.1.5
